header
{
display: flex;
justify-content: flex-start;
}
header img
{
width: 10%;
margin-left: 30%;
}
main
{
margin-top: 10%;
margin-left: 30%;
}
.articles
{
display: flex;
flex-direction: column;
border: 1px solid black;
padding: 3%;
width: 45%;
}
.articles div
{
border: 1px inset black;
display: flex;
justify-content: space-between;
align-items: center;
margin: 3%;
width: 70%;
}
button
{
height: 50%;
}
