h1{
    font-family: 'Roboto Condensed', sans-serif;
    color: #1C3950;
    letter-spacing: 3px;
    text-align: center;
  }
body{
    display: flex;
    justify-content: center;
    align-content: center;
    
}  
  
  #blocFormulaire, #blocFormulaireConnexion{
      border: 2px solid black;
      width: 700px ;
      height: 550px;
      border-radius: 3px;
      font-family: 'Roboto Condensed', sans-serif;
      display: flex;
      flex-direction: column;
      justify-content:center;
      align-content: center;
      color: #1C3950;

  }
  p{
      text-align: center;
  }
  
  label {
      display: inline-block;
      width: 200px;
      text-align: right;
      justify-content: flex-start;
     
    }
  input {
      font: 1.05em sans-serif; 
      width: 300px;
      
      box-sizing: border-box;
      border: 1px solid #999;
      border-radius: 5px;
      margin: 5px;
    }  
  
  button{
   width: 150px;
   height: 40px;
   border-color:#808080;
   color:#1C3950;
   font-family: 'Roboto Condensed', sans-serif;
   border-radius: 5px;
   letter-spacing: 3px;
  }
  .bouton{
    display: flex;
    justify-content: center;
    height: 60px;
    align-items: center;
    cursor: pointer;
  }