header img
{
width: 10%;


}
header
{
display: flex;
justify-content: space-around;
/* border: 1px solid black; */
}
a
{
text-decoration: none;
border: 1px inset grey;
border-radius: 4px 4px 4px 4px;
color: black;
padding: 2%;
}
button
{
border: 1px outset grey;
border-radius: 4px 4px 4px 4px;
height: 20%;
margin-top: 5%;
}
.publier 
{
display: flex;
flex-direction: column;
/* margin-right: 20%; */
/* border: 1px solid rebeccapurple; */
width: 100%;
}
.publier button
{
height: 100%;
}
#titre
{
display: flex;
margin-bottom: 5%;
/* border: 1px solid forestgreen; */
}
textarea{
    width: 60%;

    /* border: 1px solid blue; */
}
/*---------------------------BLOC POST---------------------------------*/
main,#Post_container_global{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    width: 100%;
}

.cadre_Post{
    border: 1px solid #262626 ;
    width: 40% ; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
    margin-left: 30%;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    color: #262626;
} 

.titre_Post{
    border-bottom: 1px solid #262626 ;
    text-align: center;
    background-color: #D1D1D1;
    
}
.text_Post{
    /* border: 1px solid green ; */
    margin: 5%;
    overflow-wrap: break-word;

}