<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/style.css">
</head>
<body>
	<header>
		<div class="profil">
			<img src="https://png.pngtree.com/svg/20170602/user_circle_1048392.png">
			<div id="Usez-NameProfil"></div>
			<a href="/mes_articles/:user_id'">Afficher mes posts</a>
		</div>

		<div class="publier">
			<div>
				<h3>New Post :</h3>	
			</div>
			<div>
				<form method="POST" action="/articles/ajout"> 
				<label for="titre">Titre :</label>	
				<textarea id="titre" name="titre" rows="2"></textarea>
			</div>
			<div>
				<textarea id="CorpText" name="article" rows="5"></textarea>
			</div>
			<div>
				<button id="btn_Save">Sauvegarder</button>	
				<button id="btn_Publish">Publier</button>
			</div>
		</form> 
		</div>

		<div class="deconnexion">
			<button id="btn_logOut" onclick="window.location.href='Log_In.html'" >Deconnexion</button>
		</div>
	</header>
	<main>
		<div id="Post_container_global">
        {{#articles}}
			<div id="Post">
            <div class='cadre_Post'>
     <div class='titre_Post'>
     <h3>{{titre}}</h3>
     </div>
     <div class='text_Post'>
     <p>{{contenu}}</p>
     </div>
     </div>
            </div>
        {{/articles}}
		</div>
	</main>
	<footer></footer>
</body>
</html>