<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>My_Posts</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" href="/my_posts.css">
</head>
<body>
	<header>
		<div>
			<a href='/articles/'><img src="https://png.pngtree.com/svg/20170602/user_circle_1048392.png"></a>
		</div>

		<div>
			<p>(User Name)</p>
		</div>
	</header>

	<main>
		<div>
			<h3>Mes Posts</h3>
		</div>

		<section class="articles">

            {{#articles_perso}}
			<div>
				<h5>{{titre}}</h5>
				<button>Supprimer</button>
			</div>
            {{/articles_perso}}

		</section>
	</main>
</body>
</html>